/* many thanks to Lena Stanley from https://lenadesign.org/2020/06/18/roll-the-dice/ ,
the dices and the animation is based on here code!
There are two problems in the base code you need to:
1. add to css (the sides of the dice are not attached when animation runs):
   html {font-size: 62.5%;} // add
2. remove from JavaScript (the function rollDice() is called endless and is only stopped through the browser):
   setTimeout(rollDice(), 1000); // remove
*/

/* Style the button: */
.button-dice {
    position: relative;
    top: 80px;
    padding: 15px 50px;
    color: #fff;
    background-color: #f4d35e;
    border: none;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 1px 3px #50514F;
    outline: none;
    transition: .3s;
}

.button-dice:hover,
.button-dice:active {
    outline: none;
    background: #50514F;
    cursor: pointer;
    transform: translateY(15px);
}

.dice-container {
    display: flex;
    justify-content: space-evenly;
}

/* Add dice and dots: */
.dice {
    position: relative;
    width: calc(100px / 2);
    height: calc(100px / 2);
    transform-style: preserve-3d;
    transition: transform 3s;
    margin-top: 1rem;
}

.dot {
    position: absolute;
    /* change dice size here "/ 2" */
    width: calc(20px / 2);
    height: calc(20px / 2);
    margin: calc(-10px / 2) calc(5px / 2) calc(5px / 2) calc(-10px / 2);
    border-radius: 20px;
    background-color: #ef233c;
    box-shadow: inset 2px 2px #d90429;
}

.side {
    position: absolute;
    background-color: #ffF;
    border-radius: 5px;
    /* change dice size here "/ 2" "*/
    width: calc(100px / 2);
    height: calc(100px / 2);
    border: 1px solid #e5e5e5;
}

.side:nth-child(1) {
    /* change dice size here "/ 2" */
    transform: translateZ(calc(3.1rem / 2));
}

.side:nth-child(6) {
    /* change dice size here "/ 2" */
    transform: rotateY(90deg) translateZ(calc(3.1rem / 2));
}

.side:nth-child(3) {
    /* change dice size here "/ 2" */
    transform: rotateY(-90deg) translateZ(calc(3.1rem / 2));
}

.side:nth-child(4) {
    /* change dice size here "/ 2" */
    transform: rotateX(90deg) translateZ(calc(3.1rem / 2));
}

.side:nth-child(5) {
    /* change dice size here "/ 2" */
    transform: rotateX(-90deg) translateZ(calc(3.1rem / 2));
}

.side:nth-child(2) {
    /* change dice size here "/ 2" */
    transform: rotateY(-180deg) translateZ(calc(3.1rem / 2));
}

/* dots on the dice */
.two-1,
.three-1,
.four-1,
.five-1,
.six-1 {
    top: 20%;
    left: 20%;
}

.four-3,
.five-3,
.six-4 {
    top: 20%;
    left: 80%;
}

.one-1,
.three-2,
.five-5 {
    top: 50%;
    left: 50%;
}

.four-2,
.five-2,
.six-3 {
    top: 80%;
    left: 20%;
}

.two-2,
.three-3,
.four-4,
.five-4,
.six-6 {
    top: 80%;
    left: 80%;
}

.six-2 {
    top: 50%;
    left: 20%;
}

.six-5 {
    top: 50%;
    left: 80%;
}

/* Add .show elements which will spin the dice: */
.show-1 {
    transform: rotateX(720deg) rotateZ(-720deg);
}

.show-6 {
    transform: rotateX(-900deg) rotateZ(1080deg);
}

.show-3 {
    transform: rotateY(-450deg) rotateZ(-1440deg);
}

.show-4 {
    transform: rotateY(810deg) rotateZ(720deg);
}

.show-5 {
    transform: rotateX(-810deg) rotateZ(-1080deg);
}

.show-2 {
    transform: rotateX(450deg) rotateZ(-720deg);
}