.rollBtn {
    background: black;
    color: white;
    border: none;
    margin: auto 0;
    font-size: 1.5em;
    margin-top: 1em;
    width: 200px;
}

/* //styling for 3D Cube */
.cube {
    width: calc(100px / 2);
    height: calc(100px / 2);
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s;
}

/* //styling for 3D Cube transforms / animations on face select (on roll) */
.cube.show-1 {
    transform: translateZ(-100px) rotateY(0deg);
}

.cube.show-2 {
    transform: translateZ(-100px) rotateY(-180deg);
}

.cube.show-3 {
    transform: translateZ(-100px) rotateY(-90deg);
}

.cube.show-4 {
    transform: translateZ(-100px) rotateY(90deg);
}

.cube.show-5 {
    transform: translateZ(-100px) rotateX(-90deg);
}

.cube.show-6 {
    transform: translateZ(-100px) rotateX(90deg);
}

/* //universal style for cube faces  */
.cube__face {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 4px solid white;
    line-height: calc(100px / 2);
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.dot {
    position: absolute;
    /* change dice size here "/ 2" */
    width: calc(20px / 2);
    height: calc(20px / 2);
    margin: calc(-10px / 2) calc(5px / 2) calc(5px / 2) calc(-10px / 2);
    border-radius: 20px;
    background-color: #ef233c;
    box-shadow: inset 2px 2px #d90429;
}

/* dots on the dice */
.two-1,
.three-1,
.four-1,
.five-1,
.six-1 {
    top: 20%;
    left: 20%;
}

.four-3,
.five-3,
.six-4 {
    top: 20%;
    left: 80%;
}

.one-1,
.three-2,
.five-5 {
    top: 50%;
    left: 50%;
}

.four-2,
.five-2,
.six-3 {
    top: 80%;
    left: 20%;
}

.two-2,
.three-3,
.four-4,
.five-4,
.six-6 {
    top: 80%;
    left: 80%;
}

.six-2 {
    top: 50%;
    left: 20%;
}

.six-5 {
    top: 50%;
    left: 80%;
}

/* //individual styling for each numbers face  */
.cube__face--1,
.cube__face--2,
.cube__face--3,
.cube__face--4,
.cube__face--5,
.cube__face--6 {
    background: #fff;
    border: 1px solid #e5e5e5;
}

.cube__face--1 {
    transform: rotateY(0deg) translateZ(25px);
}

.cube__face--2 {
    transform: rotateY(180deg) translateZ(25px);
}

.cube__face--3 {
    transform: rotateY(90deg) translateZ(25px);
}

.cube__face--4 {
    transform: rotateY(-90deg) translateZ(25px);
}

.cube__face--5 {
    transform: rotateX(90deg) translateZ(25px);
}

.cube__face--6 {
    transform: rotateX(-90deg) translateZ(25px);
}

label {
    margin-right: 10px;
}